#log{
	height: 450px;
/* 	background: #07cbc9; */		/*test*/
	position: relative;
}

#log img{
	float: left;
	width:660px;
	height: 370px;
	position: absolute;
	top:48px; 
}

#log form{
	width: 480px;
	height: 310px;
	float: right;
	margin-top:48px;
	text-align: center;
	padding-top: 80px;
}

#log form span{
	font: 16px/32px "";
	color: #333;
}

#user{
	width: 180px;
	height: 32px;
	padding: 0 12px;
	margin-bottom: 20px;
}

#psw{
	width: 180px;
	height: 32px;
	padding: 0 12px;
	margin-bottom: 20px;
}

#btn{
	width: 90px;
	height: 40px;
	border: 0;
	background: #B81C22;
	color: #fff;
	font: 700 16px/40px "";
	margin-bottom: 20px;
}

#log form p{
	font:700 12px/24px "";
}

#log form p a{
	margin: 0 12px;
}

#log form p a:hover{
	color: #ff0000;
}